<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver android:name="com.example.habit.ExportQaControlReceiver" android:exported="true" android:permission="com.example.habit.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" />
        <provider android:name="com.example.habit.ExportTestProvider" android:authorities="com.example.habit.test.exports" android:exported="true" android:grantUriPermissions="true" android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
    </application>
</manifest>
